*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond-max($large-700px) {
    font-size: 55%;
  }
  @include respond-max($medium-550px) {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.badge {
  font-weight: 900;
  background-image: linear-gradient(
    to right bottom,
    $badge-color-primary,
    $badge-color-secondary,
    $badge-color-primary
  );
  transition: all 0.2s;
  color: white;
  padding: 0 1rem;
}
