.footer {
  position: relative;
  background-color: rgb(46, 41, 41);
  display: flex;
  flex-direction: column;

  .social-stack {
    margin-bottom: 4rem;
    display: flex;
    background-size: 200%;

    a {
      background-color: darken(rgb(46, 41, 41), 5);
      cursor: pointer;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 0.3s;

      &:hover {
        background-color: $badge-color-primary;
        transform: scale(0.9);
        box-shadow: 0 0 5px 5px #2e2e2eb9;
      }

      &:hover img {
        animation: drop-in 0.5s;
      }

      &:not(:last-child) {
        margin-right: 4.5rem;
      }
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.3s;
    }
  }
}

.cta {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-max($medium-550px) {
    padding: 6rem 3rem;
  }

  &-heading {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include respond-max($largest-1000px) {
      width: 70%;
    }

    @include respond-max($medium-550px) {
      width: 90%;
    }

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    .form__input {
      background: transparent;
      padding: 1rem;
      font-family: inherit;
      font-size: 1.4rem;
      color: white;
      border-radius: 10px;
      border: 1px solid lighten(rgb(46, 41, 41), 50);
    }

    .message-box {
      resize: none;
      background: transparent;
    }
  }
}

.about-info {
  background-color: darken(rgb(46, 41, 41), 5);
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .copyright {
    // color: lighten(rgb(46, 41, 41), 20);
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
