.info-section {
  padding: 8rem 14rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 95vh;

  @include respond-max($medium-550px) {
    text-align: center;
    justify-content: center;
  }

  @include respond-max($largest-1000px) {
    padding: 8rem;
  }

  @include respond-max($large-650px) {
    padding: 6rem;
  }

  @include svg;
}

.greetings {
  &-head {
    color: $black-text;
    font-size: 6rem;
    font-weight: 400;

    animation: slide-in 1s;
  }

  &-para {
    font-size: 2rem;
    text-transform: capitalize;

    animation: slide-up 1s;
  }
}

.picture {
  width: 40rem;
  height: 40rem;

  animation: expand 1s;

  @include respond-max($medium-550px) {
    display: none;
  }

  @include respond-max($largest-1000px) {
    width: 30rem;
    height: 30rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes expand {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
