.services-section {
  padding: 14rem;
  background-color: rgb(63, 58, 58);

  @include respond-max($largest-1200px) {
    padding: 8rem;
  }

  @include respond-max($medium-550px) {
    padding: 7rem 3rem;
  }

  @include respond-max($small-420px) {
    padding: 7rem 1rem;
  }

  .greetings-head {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex-basis: 20%;
    flex: 1;
    @include tertiary-svg;
    color: white;
    padding: 5rem;
    margin: 1rem;
    border-radius: 1rem;

    @include respond-max($medium-550px) {
      flex-basis: 70%;
    }

    @include respond-max($small-420px) {
      flex-basis: 90%;
    }

    &__icon {
      width: 15rem;
      height: 15rem;
      margin-bottom: 3rem;
    }
    &__title {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 2.7rem;
    }
  }
}
