.skills-section {
  padding: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80rem;
  @include secondary-svg;

  @include respond-max($medium-550px) {
    height: auto;
  }

  @include respond-max($largest-1000px) {
    flex-direction: column;
    text-align: center;
  }

  @include respond-max($largest-1200px) {
    .greetings-head {
      font-size: 5.5rem;
    }
    .greetings-para {
      font-size: 1.5rem;
    }
  }

  @include respond-max($small-420px) {
    padding: 5rem 2rem;

    .greetings-para {
      font-size: 2rem;
    }
  }

  .primary-heading {
    color: #fff;
    margin-bottom: 2rem;
  }
}
.about,
.skills-showcase {
  position: relative;
}
.skill-img-bg {
  position: absolute;
  width: 10rem;
  height: 10rem;

  &-1 {
    top: 8%;
    left: 7%;
  }
  &-2 {
    bottom: 8%;
    left: 30%;
  }
  &-3 {
    right: 20%;
    top: 3%;
  }
}
.skills-showcase {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  @include respond-max($largest-1000px) {
    margin: 5rem 0 0 0;
  }

  &-visible {
    .skill__level-html {
      animation: skill-65 1s 0s forwards;
    }
    .skill__level-css {
      animation: skill-65 1s 0.3s forwards;
    }
    .skill__level-sass {
      animation: skill-55 1s 0.6s forwards;
    }
    .skill__level-js {
      animation: skill-55 1s 0.9s forwards;
    }
    .skill__level-react {
      animation: skill-45 1s 1.3s forwards;
    }
    .skill__level-node {
      animation: skill-30 1s 1.5s forwards;
    }
    .skill__level-rn {
      animation: skill-30 1s 1.8s forwards;
    }
    .skill__level-mongo {
      animation: skill-30 1s 2.1s forwards;
    }
  }
}

.skill {
  width: 50rem;
  display: flex;
  font-size: 1.4rem;
  position: relative;

  @include respond-max($small-420px) {
    width: 42rem;
  }

  &:hover &__level {
    box-shadow: inset 0 0 0 2px #fff;
  }

  &:hover &__exp {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__name {
    flex-basis: 10rem;
  }

  &__name,
  &__percentage {
    padding: 1rem;
    font-weight: 600;
    background-image: linear-gradient(
      to right bottom,
      $badge-color-primary,
      $badge-color-secondary,
      $badge-color-primary
    );
  }

  &__percentage {
    margin-left: auto;
  }
  &__level {
    background-color: #fff;
  }
  &__exp {
    position: absolute;
    top: -90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.822);
    font-size: 1.3rem;
    padding: 7px;
    color: #000;
    border-radius: 3px;
    opacity: 0;
    transition: all 0.2s;
  }
}

$skill-level: 65, 65, 55, 55, 45, 30, 30;

@each $level in $skill-level {
  @keyframes skill-#{$level} {
    from {
      width: 0;
    }
    to {
      width: percentage($level/100);
    }
  }
}
