$largest-1200px: 75em;
$largest-1000px: 62.5em;
$large-700px: 43.75em;
$large-650px: 40.625em;
$medium-550px: 34.375em;
$small-420px: 26.25em;

$badge-color-primary: #ef4329;
$badge-color-secondary: #f68f45;

$black-text: #36373a;
